.footerlayout
	background-color segundo
	bordesMaterial()
	color white
	height 400px
	h2
		text-align center
.copyrightlayout
	background-color primer
	bordesMaterial()
	color white
	h6
		text-align center