.citahome
	background-color white
	width 1000px
	box-shadow 0px 2px 10px fondo
	position relative
	top -80px
.tudentista
	h2
		color fondo
	h5
		color segundo
		font-weight bold
	h2,h5,p
		text-align center
	.homefamily
		display flex
		flex-direction row
		justify-content center
		height 160px
		img
			width 250px
.homeservices
	background-color basedos
	h2
		center()