/* Flex boxes */
flexalign(items,display,direction,juscontent)
	align-items items
	display display
	flex-direction direction
	justify-content juscontent
centrar()
	float none
	margin 0 auto
bordes(n)
	-webkit-border-radius n
	-moz-border-radius n
	-ms-border-radius n
	-o-border-radius n
	border-radius n
bordesMaterial()
	box-shadow 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
bordesMaterialDos()
	box-shadow 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19)