<template name="footer">
	<!-- Titulo completo -->
	<div class="container-fluid footerlayout">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2>Clinica Dental</h2>
		</div>
		<!-- info en footer -->
		<div class="container-fluid">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
					<h5>Nuestra Mision</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
					<h5>Ultimas Noticias</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
					<h5>Contacto</h5>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							Av. Lara, Barquisimeto, Venezuela.
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							+584245688327
						</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
					<h5>Nuestras Redes Sociales</h5>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<i class="fa fa-facebook fa-2x"></i>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<i class="fa fa-twitter fa-2x"></i>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<i class="fa fa-google-plus fa-2x"></i>
						</div>
				</div>
			</div>
		</div>
	</div>

	<!-- copyright -->
	<div class="container-fluid copyrightlayout">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h6>2016 Copyright - Gerardo Cordero - Powered by Meteor and Heroku</h6>
		</div>
	</div>


</template>