<template name="home">
<div class="container-fluid sliderhome">
	<div class="container-fluid">
		
		<div >
			<h1>Clinica Dental</h1>
			<h4>La salud Oral para una sonrisa saludable.</h4>
			

			<h3>Solicitud de Cita!</h3>
		</div>
		
	</div>
</div>
<!-- formulario para pedir cita -->
<div class="container-fluid citahome">
	{{> citaForm}}
</div>
<!-- informacion de la empresa -->
<div class="container tudentista">
	<!--Subtitulo  -->
	<h2>EL MEJOR DENTISTA!</h2>
	<!-- subtitulo -->
	<h5>EN CLINICA DENTAL GARANTIZAMOS LA SONRISA DE TU FAMILIA</h5>
	<!-- informacion -->
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<div class="homefamily">
		<img src="img/personas/personastres.jpg" alt="">
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<div class="espacio">
	</div>
	<!-- social networks -->
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<i class="fa fa-facebook fa-3x"></i>
					<a href="" title="">VISITA NUESTRA PAGINA EN FACEBOOK</a>
					
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<i class="fa fa-twitter fa-3x"></i>
						<a href="" title="">VISITA NUESTRA PAGINA DE TWITTER</a>
					
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<i class="fa fa-google-plus fa-3x">
					</i>
					<a href="" title="">VISITA NUESTRA PAGINA DE GOOGLE+</a>
					
				</div>
			</div><!-- Column -->
		</div><!-- row -->
	</div><!-- container -->
</div>
<!-- espacios -->
<div class="espacio">
</div>
<!-- end espacios -->
<!-- servicios dentales resumen -->
<div class="container-fluid homeservices">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2 >TODOS NUESTROS SERVICIOS DENTALES</h2>
		</div><!-- Titulo -->
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" width="100px" src="img/teeth/teeth8.png" alt="Image">
					</a>
					<div class="media-body">
						<h4 class="media-heading">BLANQUEO DENTAL:</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" width="100px" src="img/teeth/teeth4.png" alt="Image">
					</a>
					<div class="media-body">
						<h4 class="media-heading">EXTRACCION:</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" width="100px" src="img/teeth/teeth2.png" alt="Image">
					</a>
					<div class="media-body">
						<h4 class="media-heading">TRATAMIENTO DE CARIES:</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object"  width="100px" src="img/teeth/teeth7.png" alt="Image">
					</a>
					<div class="media-body">
						<h4 class="media-heading">CONSULTAS</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" width="100px" src="img/teeth/teeth5.png" alt="Image">
					</a>
					<div class="media-body">
						<h4 class="media-heading">ORTODONCIA</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" width="100px" src="img/teeth/teeth3.png" alt="Image">
					</a>
					<div class="media-body">
						<h4 class="media-heading">EMERGENCIA DENTALES:</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
			</div>
		</div>
</div> <!-- contenedor -->
</template>