@import 'base/variables'
@import 'base/mixins'
@import 'pages/menu'
@import 'pages/slider'
@import 'pages/home'
@import 'pages/footer'
*
	margin 0
	padding 0
body
	text-rendering otimizeLegibility
.espacio
	background-color white
	height 50px
	width 100%